extends layout

block content
  h1 Playground


  h2 Controls

  if !loggedIn
    form(method="POST" action="/login")
      button login
  else
    form(method="GET" action="/logout")
      button logout form GET
    form(method="POST" action="/logout")
      button logout form POST
    a(href="/logout") logout link GET

  h2 Debug

  p Time: #{time}

  p Logged in #{loggedIn}

  p Cookies:
  pre
    code #{JSON.stringify(cookies, null, 2)}
